<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DIETIMO</title>
  <link rel="icon" href="data:,">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="icon" href="images/favicon.png" sizes="16x16">

  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/Bold-BS4-Cards-with-Hover-Effect-142-1.css">
  <link rel="stylesheet" href="assets/css/Bold-BS4-Cards-with-Hover-Effect-142.css">
  <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>

  <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="
      padding-right: 60px;
      padding-left: 60px;
      padding-top: 10px;
      padding-bottom: 10px;
      background: #000;
  ">
      <a class="navbar-brand" href="#">
        <img src="images/logo.png" alt="Logo" style="
      width: 200px;

  ">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link" href="/computedietchart">Compute Diet Chart</a>
          <a class="nav-item nav-link" href="/getdietplan">Get Diet Plan</a>
          <a class="nav-item nav-link active" href="">Diet Plan<span class="sr-only">(current)</span></a>
        </div>
      </div>
    </nav>
  </header>


      <div style="margin:110px;">
          <div class="container">
              <div class="row">
                  <div class="col-md-4 d-xl-flex justify-content-xl-center align-items-xl-center"><img class="rounded" style="width:100%;" src=<%= item.image %>  ></div>
                  <div class="col-md-4 col-xl-8">
                      <div class="card d-xl-flex justify-content-xl-center">
                          <div class="card-body">
                              <h4 class="card-title"><%= item.title %><br></h4>
                              <p class="card-text"><%= item.summary %><br></p><a class="card-link" href="#">Order Now</a><a class="card-link" href="#">Give Review</a></div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4 col-xl-6">
                      <div class="d-xl-flex align-items-xl-start box" style="overflow-y: scroll;"><img src="assets/img/Recipe.jpg">
                          <div class="border-white box-content" style="height: 350px;">
                              <h1 class="title">Recipe</h1>
                              <ol class="text-white">
                                <% for(var i = 0; i<item.recipe.length-1; i++){ %>
                                  <li><%= item.recipe[i] %><br></li>
                                  <% } %>
                              </ol>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-xl-6">
                      <div class="box"><img src="assets/img/Nutrition.jpg">
                          <div class="box-content">
                              <div class="border rounded">
                                  <canvas id="chDonut1"></canvas>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  <footer class="page-footer font-small">
  <div class="footer-copyright text-center py-3" style="background:#262626; color:#FFFFFF;">© 2020 Copyright: Team Demogorgons
  </div>
  </footer>

  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/js/chart.min.js"></script>
  <script src="assets/js/bs-init.js"></script>
  <script>
      var CarboContent = <%= item.percentCarbs %>;
      var ProteinContent = <%= item.percentProtein %>;
      var FatContent = <%= item.percentFat %>;

      var donutOptions = {
          cutoutPercentage: 60,
          legend: {position:'bottom', padding:5, labels: {pointStyle:'circle', usePointStyle:true}},
          title: {
              display: true,
              text: "MAJOR NUTRIENT CONTENTS",
              fontSize:20
          }
      };
      var chDonutData1 = {
          labels: ['Carbohydrates', 'Proteins', 'Fat'],
          datasets: [
          {
              backgroundColor: ["#FF0000","#00FF00","#0000FF"],
              borderWidth: 2,
              data: [CarboContent,ProteinContent,FatContent],
              hoverBorderWidth:0
          }
          ]
      };
      var chDonut1 = document.getElementById("chDonut1");
      if (chDonut1) {
      new Chart(chDonut1, {
          type: 'pie',
          data: chDonutData1,
          options: donutOptions
      });
      }
  </script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  </<body>

</html>
